extend layout/layout
block content    
    section
        <!-- Begin video and image background-->
        #video-container
            video.widthFix#video(autoplay loop poster="img/intro1.png")
              source(src="/video/1.mp4" type="video/mp4")
              source(src="/video/1.ogv" type="video/ogg")
              source(src="/video/1.webm" type="video/webm")
        <!-- End video background-->
        .container
          .col-md-4.col-md-offset-4
              object(data="img/logo.svg" type="image/svg+xml") 
                      <!--[if lte IE 8 ]-->
                      img(src="img/logo.gif")
                      <!--![endif]-->
    section#screen2
      .col-md-3
        #concept-circle.chart
      .col-md-3
        #ui-ux-circle.chart
      .col-md-3
        #development-circle.chart
      .col-md-3
        #launch-support-circle.chart
    section#screen3
        
block scripts
    script.
      function sizeVideo(e){
          if(typeof e=="undefined"){
              e=getDocumentRatio()
          }
          if(e<9/16){
              $("video").removeClass("heightFix").addClass("widthFix");
              $("#image").removeClass("heightFix").addClass("widthFix")
          } else {
              $("video").removeClass("widthFix").addClass("heightFix");
              $("#image").removeClass("widthFix").addClass("heightFix");
          }
      }

      document.body.style.backgroundImage="none";

      var wh=$(window).height();
      var ww=$(window).width();
      var ratio=wh/ww;sizeVideo(ratio);

      window.onresize=function(){
          var e=$(window).height();
          var t=$(window).width();
          var n=e/t;sizeVideo(n)
      }  

      var  mn = $(".main-nav");
          mns = "main-nav-scrolled";
          hdr = $('header').height();

      $(window).scroll(function() {
        if( $(this).scrollTop() > hdr ) {
          mn.addClass(mns);
        } else {
          mn.removeClass(mns);
        }
      });  
       
    script(src="/js/donut.js")